@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
       url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3em; /* 2 veces el tamaño de fuente del contenedor */
  color:#0077c2;
  background-color: transparent;
  font-family: 'Poppins'
}
h2 {
  font-size: 1.8em; /* 2 veces el tamaño de fuente del contenedor */
  color:red;
  background-color: transparent; 
  font-family: 'Poppins'
}
h3 {
  font-size: 1.2em;
    color:black;
    background-color: transparent;
    font-family: 'Poppins'
}
p{
   font-size: 1em;
    color:black;
    background-color: transparent;
    text-indent: 50px; 
    text-align :justify;
    font-family: 'Poppins'
}
nav{
  color:black;
  background-color: transparent   
}
nav li a{
    color: red ;
    background-color: transparent;
    font-size: 1em; 

}
body{
color:black;
  background-color: transparent   
}
footer{
color:black;
  background-color: yellow;
  font-family: 'Poppins';
  font-size: 1.5em;  
}
aside div ul li a{
color:mediumpurple;
  background-color: transparent;
  font-size: 1em;   
}
header div{
  color:black;
  background-color: yellow   
}
aside{
color:black;
  background-color: transparent   
}
adress{
color:black;
  background-color: transparent   
}
section article{
color:black;
  background-color: transparent   
}
form{
  color:black;
  background-color: transparent;
}
.main{
color:white;
background-color:magenta;
text-align:center;
font-family: 'Poppins';
font-weight: bold;
font-size: 1.2em;
}
.secundary{
  text-align:left;
  font-family: 'Poppins';
  font-size: 1.1em;
}
aside li a{
line-height: 30px;
}
aside ul{
  vertical-align:top;
}
caption{
  font-family: 'Poppins';
  font-size: 1.5em;
}